backend/alembic.ini
backend/alembic/env.py
node_modules/
.env
__pycache__/
*.pyc
instance/
.vscode/
.idea/
.DS_Store
*.sqlite3
.alembic.ini
*.log
*.db
*.env
*.pytest_cache/
coverage
htmlcov/
*.egg-info/
dist/
build/
.pytest_cache/