fastapi[all]==0.111.0
uvicorn==0.30.1
sqlalchemy==2.0.31
psycopg2-binary==2.9.10
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
alembic
qrcode
pytest==8.3.3
reportlab==4.2.5
Pillow==10.4.0