Django>=5.1,<6.0
djangorestframework
django-cors-headers
psycopg2-binary
gunicorn
uvicorn
django-filter
drf-spectacular
python-json-logger
reportlab
weasyprint
Markdown
django-extensions
ipython
werkzeug
pyplusplus

ruff
black
flake8
coverage
djangorestframework-simplejwt
pyotp
qrcode[pil]
openpyxl
