@import "tailwindcss";

@theme {
  --color-primary: #45ac8b;
  --color-secondary: #2e7d32;
}

:root {
  --primary: #45ac8b;
  --secondary: #2e7d32;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
